{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<main class="container">
<form method="post" class="form-card form-card-style">
  {% csrf_token %}
  <input type="hidden" value='None' name='edit_note_id'> 
  <input id="titulo" type="text" name="titulo" class="form-card-title" placeholder="Titulo"/>
  <textarea id="detalhes" name="detalhes" class="autoresize" placeholder="Detalhes"></textarea>
  <button class="btn" type="submit""><p class="texto-botao" name="form-btn">Criar</p></button>
</form>

<div class="card-container">
    {% for note in notes %}

    <div class="card">
            <h3 class="card-title"><span class="card-underline">{{note.title}}</span></h3>

            <div class="card-content"><span>{{note.content}}</span></div>

            <input class="edit-content" type="image" src="static/notes/img/edit_black_24dp.svg" name='button-edit' title="Edite esse post-it" value="" onclick="editNote({{note.id}})" />
            <form name="delete-form" method="post">
                {% csrf_token %}
                <input class="delete-content" type="image" src="static/notes/img/clear_black_24dp.svg" name='button-delete' title="Delete esse post-it" value=""/>
                <input type="hidden" name="delete_note_id" value="{{note.id}}" />
            </form>
    </div>

    {% endfor %}
</div>
</main>

{% endblock %}